<!DOCTYPE html>
<html>
<head>
  <title>QuizMaster</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Quiz Master</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">

          	<li class="active" ><%= link_to "Quiz", root_path %></li>
			<li><%= link_to "Questions CRUD", quiz_path %></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
</br>
</br>
</br>

<div class="container theme-showcase" role="main">
<%= yield %>
</div>
</body>
</html>
